@if ( server; as s) {
<h2>
  {{ s.name }}
</h2>
<h4>Api Key: {{ s.apiKey }}</h4>
<hr />

<div class="row mb-2">
  <div class="col-md-4">
    <mat-card class="height-full">
      <mat-card-header>
        <mat-card-title>Server Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><b>Name:</b> {{ s.sqlServerCheck.serverInfo.serverName }}</p>
        <p><b>Databases on server:</b> {{ s.sqlServerCheck.serverInfo.databaseCount }}</p>
        <p><b>All databases size in GB:</b> {{ s.sqlServerCheck.serverInfo.databaseSizeInGb }}</p>
        <p><b>CPU logical cores:</b> {{ s.sqlServerCheck.serverInfo.logicalCpu }}</p>
        <p><b>Memory in GB:</b> {{ s.sqlServerCheck.serverInfo.memoryInGb }}</p>
        <p><b>Architecture:</b> {{ s.sqlServerCheck.serverInfo.is32Bit ? '32 BIT' : '64 BIT' }}</p>
        <p><b>Server last restart:</b> {{ s.sqlServerCheck.serverInfo.lastRestartServer | date : 'short' }}</p>
        <p><b>SQL Server last restart:</b> {{ s.sqlServerCheck.serverInfo.lastRestartSqlServer | date : 'short' }}</p>

        @if (s.sqlServerCheck.serverInfo.defaultTraceContentInHours) {
        <p class="tooltip-indicator" matTooltip="Duration for retaining trace data used to monitor SQL Server activities and diagnose issues.">
          <b>Tracing since:</b> {{ convertHoursToDatetime(s.sqlServerCheck.serverInfo.defaultTraceContentInHours) | date : 'short' }}
        </p>
        }
        <p><b>Version:</b> {{ s.sqlServerCheck.serverInfo.versionDetails }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-8">
    <mat-card class="height-full">
      <mat-card-header>
        <mat-card-title>Server checks</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Data in danger">
            <div class="table-container">
              <table mat-table [dataSource]="getServerChecksData(s.sqlServerCheck.serverIssues, ServerCheckIssueCategory.DataInDanger)" class="mat-elevation-z8">
                <ng-container matColumnDef="highPriorityError">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element"><mat-icon matTooltip="High Priority Warning" *ngIf="element.priority < 50" color="warn">error</mat-icon></td>
                </ng-container>

                <ng-container matColumnDef="details">
                  <th mat-header-cell *matHeaderCellDef>Details</th>
                  <td mat-cell *matCellDef="let element">{{ element.details }}</td>
                </ng-container>

                <ng-container matColumnDef="explanation">
                  <th mat-header-cell *matHeaderCellDef>Explanation</th>
                  <td mat-cell *matCellDef="let element">{{ element.scriptDetails }}</td>
                </ng-container>

                <ng-container matColumnDef="database">
                  <th mat-header-cell *matHeaderCellDef>Database Name</th>
                  <td mat-cell *matCellDef="let element">
                    <b>{{ element.databaseName }}</b>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['highPriorityError', 'details', 'explanation', 'database']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['highPriorityError', 'details', 'explanation', 'database']"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell text-center" colspan="4"><img class="no-data-table-image" src="assets/empty-table.png" alt="No Data Available" /></td>
                </tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Server in danger">
            <div class="table-container">
              <table mat-table [dataSource]="getServerChecksData(s.sqlServerCheck.serverIssues, ServerCheckIssueCategory.ServerInDanger)" class="mat-elevation-z8">
                <ng-container matColumnDef="highPriorityError">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element"><mat-icon matTooltip="High Priority Warning" *ngIf="element.priority < 50" color="warn">error</mat-icon></td>
                </ng-container>
                <ng-container matColumnDef="details">
                  <th mat-header-cell *matHeaderCellDef>Details</th>
                  <td mat-cell *matCellDef="let element">{{ element.details }}</td>
                </ng-container>

                <ng-container matColumnDef="explanation">
                  <th mat-header-cell *matHeaderCellDef>Explanation</th>
                  <td mat-cell *matCellDef="let element">{{ element.scriptDetails }}</td>
                </ng-container>

                <ng-container matColumnDef="database">
                  <th mat-header-cell *matHeaderCellDef>Database Name</th>
                  <td mat-cell *matCellDef="let element">
                    <b>{{ element.databaseName }}</b>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['highPriorityError', 'details', 'explanation', 'database']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['highPriorityError', 'details', 'explanation', 'database']"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell text-center" colspan="4"><img class="no-data-table-image" src="assets/empty-table.png" alt="No Data Available" /></td>
                </tr>
              </table></div
          ></mat-tab>

          <mat-tab label="Server performance">
            <div class="table-container">
              <table mat-table [dataSource]="getServerChecksData(s.sqlServerCheck.serverIssues, ServerCheckIssueCategory.ServerPerformance)" class="mat-elevation-z8">
                <ng-container matColumnDef="highPriorityError">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element"><mat-icon matTooltip="High Priority Warning" *ngIf="element.priority < 50" color="warn">error</mat-icon></td>
                </ng-container>
                <ng-container matColumnDef="details">
                  <th mat-header-cell *matHeaderCellDef>Details</th>
                  <td mat-cell *matCellDef="let element">{{ element.details }}</td>
                </ng-container>

                <ng-container matColumnDef="explanation">
                  <th mat-header-cell *matHeaderCellDef>Explanation</th>
                  <td mat-cell *matCellDef="let element">{{ element.scriptDetails }}</td>
                </ng-container>

                <ng-container matColumnDef="database">
                  <th mat-header-cell *matHeaderCellDef>Database Name</th>
                  <td mat-cell *matCellDef="let element">
                    <b>{{ element.databaseName }}</b>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['highPriorityError', 'details', 'explanation', 'database']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['highPriorityError', 'details', 'explanation', 'database']"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell text-center" colspan="4"><img class="no-data-table-image" src="assets/empty-table.png" alt="No Data Available" /></td>
                </tr>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

@if (performanceStats && waitStats) {

<div class="row mb-2">
  <div class="col-md-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="tooltip-indicator" matTooltip="Metrics for the whole sql server that indicate the workload">Performance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="7 days">
            <canvas class="pt-3" baseChart [type]="'line'" [data]="lineChartPerformanceData" [options]="lineChartOptions" [legend]="true"> </canvas>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="tooltip-indicator" matTooltip="CPU Utilization in percents for the whole server">CPU Utilization</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="7 days">
            <canvas class="pt-3" baseChart [type]="'line'" [data]="lineChartPerformanceCpuData" [options]="lineChartOptions" [legend]="true"> </canvas>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title
          class="tooltip-indicator"
          matTooltip="Every query on your server needs resources like CPU, RAM and needs to coehist with other queries. Here is what your server is bottlenecked by"
          >Server Bottlenecks</mat-card-title
        >
        <mat-card-subtitle>
          <button class="my-2" mat-button color="primary" (click)="getBottleneck()">What's my bottleneck?</button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-icon
          matTooltip="Wait stats have been cleared recently so top waiting queries might not be correct"
          *ngIf="s.sqlServerCheck.cacheAndWaitStats.waitsClearedRecently"
          color="warn"
          >delete_forever</mat-icon
        >
        <mat-icon matTooltip="No significant wait stats in latest monitoring task" *ngIf="s.sqlServerCheck.cacheAndWaitStats.noSignificantWaitStats" color="primary"
          >check_circle</mat-icon
        >
        <mat-icon matTooltip="{{ s.sqlServerCheck.cacheAndWaitStats.poisonWaitType }}" *ngIf="s.sqlServerCheck.cacheAndWaitStats.poisonWaits" color="warn">hourglass_top</mat-icon>
        <mat-icon matTooltip="SERIALIZABLE isolation level detected" *ngIf="s.sqlServerCheck.cacheAndWaitStats.poisonWaitsSerializableLocking" color="warn">read_more</mat-icon>

        <mat-tab-group>
          <mat-tab label="7 days">
            <canvas class="pt-3" baseChart [type]="'line'" [data]="lineChartData" [options]="lineChartOptions" [legend]="true"> </canvas>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
}

<div class="row mb-2">
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Index Tuning</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Remove indexes">
            <div class="table-container">
              <table mat-table [dataSource]="s.indexCheck.removeIndices" class="mat-elevation-z8">
                <ng-container matColumnDef="database">
                  <th mat-header-cell *matHeaderCellDef>Database Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.databaseName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="table">
                  <th mat-header-cell *matHeaderCellDef>Table Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.tableName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef>Index Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.index }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="explanation">
                  <th mat-header-cell *matHeaderCellDef>Explanation</th>
                  <td mat-cell *matCellDef="let element">{{ element.message }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['database', 'table', 'index', 'explanation']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['database', 'table', 'index', 'explanation']"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell text-center" colspan="4"><img class="no-data-table-image" src="assets/empty-table.png" alt="No Data Available" /></td>
                </tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Add indexes">
            <div class="table-container">
              <table mat-table [dataSource]="s.indexCheck.addIndices" class="mat-elevation-z8">
                <ng-container matColumnDef="database">
                  <th mat-header-cell *matHeaderCellDef>Database Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.databaseName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="table">
                  <th mat-header-cell *matHeaderCellDef>Table Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.tableName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef>Index</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.indexDetails }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="impact">
                  <th mat-header-cell *matHeaderCellDef>Impact</th>
                  <td mat-cell *matCellDef="let element">{{ element.impact }}</td>
                </ng-container>

                <ng-container matColumnDef="benefit">
                  <th mat-header-cell *matHeaderCellDef>Magic benefit number</th>
                  <td mat-cell *matCellDef="let element">{{ element.magicBenefit }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['database', 'table', 'index', 'impact', 'benefit']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['database', 'table', 'impact', 'benefit']"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell text-center" colspan="5"><img class="no-data-table-image" src="assets/empty-table.png" alt="No Data Available" /></td>
                </tr>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="tooltip-indicator" matTooltip="Metrics for the whole sql server that indicate the workload">Query Tuning</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="7 days">
            <canvas class="pt-3" baseChart [type]="'line'" [data]="lineChartPerformanceData" [options]="lineChartOptions" [legend]="true"> </canvas>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

}
