<h2 class="flex">
  <span>Servers</span>

  <span class="spacer"> </span>

  <button (click)="createNewServer()" mat-raised-button color="primary">New server</button>
</h2>
<hr />

<div class="row">
  @for (server of servers(); track server) {
  <div class="col-md-4">
    <mat-card class="mb-4">
      <mat-card-header>
        <mat-card-title
          ><span>{{ server.name }}</span>

          <button class="delete" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="deleteServer(server.name, server.id)" mat-menu-item>
              <mat-icon color="warn">delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button class="mr-2" color="primary" [routerLink]="[server.id]">Monitoring</button>
        <button mat-button [routerLink]="[server.id]">Maintenance</button>
      </mat-card-actions>
    </mat-card>
  </div>
  }
</div>
